@charset "UTF-8";
/* CSS Document */
#rest{
         font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
         text-align:right;
         }
         h1,h2{
          font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
          }
          p{
          font-size:22px;
          }         
    #navbar{
             font-weight:bold;
             height: 1.8em;
             background-color: #7C8796;
             overflow: hidden;
            }
    #maincontent{
                background-color:#B6E2F0;
                width:100%;
                }
    #booking      {
                background-color:lightgray;
                text-align:center;
                }
               h1,h2
		{
          font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
          }
          p,label{
          font-size:22px;
          }
    #footer p{
             margin: 0;
             padding: 0px 0;
             background-color:#DDDDDD;
             text-align:center;
             font-size:18px;
    }
    #starters{
            font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
            float: left;
    		width: 33%;
    		padding: 10px;
    		height: 300px; 
			text-align: center;
				
}
    #mains{
            
		font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";       
             float: left;
   	 	width: 33%;
    	padding: 10px;
    	height: 300px; 
		text-align: center;
		
    }
    #dess{ 
		font-family: Cambria,Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";         
        float: right;
    	width: 33%;
  		padding: 7px;
    	height: 300px; 
		text-align: center; 
			
    }
    #footer p{
             margin: 0;
             padding: 10px 0;
             background-color:#DDDDDD;
             text-align:center;
             font-size:18px;
    }

 #navbar ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            }
#navbar a{
         float:left;
         white-space: nowrap;
         border-right: 1px #EBEBEB solid;
         padding: 3px 15px 4px 15px;
         color:white;
         text-decoration:none;
         }
#navbar a:hover{
            background-color: #EBEBEB;  
             color: #336666;
             border-right: 3px #999999 solid;
             border-bottom: 3px #999999 solid;
             padding-bottom: 3px;
             }
#adheader{  background-color: #5B6A84;

           text-align: center;
         padding: 30px;
           }
